<h1>Accueil ESN Gestion</h1>


<%= link_to "Gestion clients", clients_path %>
<%= link_to "Gestion employés", employes_path %>
<%= link_to "Gestion contrats client", contrat_clients_path %>
<%= link_to "Ajouter un type de service proposé", type_services_path %>
<%= link_to "Gestion des équipes", equipes_path %>
