<h1>Modifier les informations de l'équipe <%= @equipe.nomEquipe %></h1>
<%= form_with model: @equipe, local: true do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= label_tag :equipe_nomEquipe,"Nom de l'équipe" %>
  <%= f.text_field :nomEquipe %>
  <%= f.submit 'Enregistrer' %>
<% end %>

<h2>Chef d'équipe</h2>
<% if @chef.nil? %>
  <% if @chefsDispo.empty? %>
    <p>Aucun employé disponible</p>
    <% else %>
      <p>Désigner le chef d'équipe</p>
      <%= form_with model: @equipe, local: true, url: 'addChef' do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <select id=chef name=equipe[employe_id]>
          <% @chefsDispo.each do |s| %>
            <option value="<%= s.id %>"><%=s.nome %> <%= s.prenome %></options>
          <% end %>
        </select>
        <%= f.submit 'Enregistrer' %>
      <% end %>
    <% end %>
<% else %>
  <h4>Chef d'équipe : <%= @chef.nome %> <%= @chef.prenome %></h4>
  <% if @employesDispo.empty? %>
    <p>Aucun employé de disponible pour remplacer le chef d'équipe</p>
  <% else %>
    Nouveau chef d'équipe :
    <%= form_with model: @equipe, local: true, url: 'addChef' do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <select id=chef name=equipe[employe_id]>
        <% @employesDispo.each do |s| %>
          <option value="<%= s.id %>"><%=s.nome %> <%= s.prenome %></options>
        <% end %>
      </select>
      <%= f.submit 'Enregistrer' %>
    <% end %>
  <% end %>
<% end %>


<h2>Ajouter un employé à l'équipe</h2>
<% if @employesDispo.empty? %>
  <p>Aucun employé de disponible.</p>
<% else %>
  <% @employesDispo.each do |emp| %>
    <%= form_with model: @equipe, local: true, url: 'addEmploye' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.hidden_field(:emp_id, :value => emp.id) %>
        <p><%= emp.nome %> <%= emp.prenome %></p>
      <%= f.submit 'Enregistrer' %>
    <% end %>
  <% end %>
<% end %>

<h2>Supprimer un employé de l'équipe</h2>
<% if @employesEquipe.empty? %>
  <p>L'équipe est vide</p>
<% else %>
  <% @employesEquipe.each do |emp| %>
  <%= form_with model: @equipe, local: true, url: 'delEmploye' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.hidden_field(:emp_id, :value => emp.id) %>
      <p><%= emp.nome %> <%= emp.prenome %></p>
    <%= f.submit 'Enregistrer' %>
  <% end %>
  <% end %>
<% end %>

<h2>Ajouter l'équipe à un contrat</h2>
<% if @contratsDispo.empty? %>
  <p>Pas de contrat disponible.</p>
<% else %>
  <% @contratsDispo.each do |cont| %>
  <%= form_with scope: :travailler_surs, local: true, url: 'addContrat' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.hidden_field(:contrat, :value => cont.id) %>
      <p>Logiciel : <%= cont.nomLogiciel %> </p>
      <p>Client :
        <% if cont.client.type=='Entreprise'  %>
          <%= cont.client.nomEntreprise %>
        <% else %>
          <%= cont.client.nomP %> <%= cont.client.prenomP %>
        <% end %>
    </p>
    <%= f.submit 'Enregistrer' %>
  <% end %>
  <% end %>
<% end %>

<h2>Enlever l'équipe d'un contrat</h2>
<% if @contrats.empty? %>
  <p>Pas de contrat disponible.</p>
<% else %>
  <% @contrats.each do |cont| %>
  <%= form_with model: cont, local: true, url: 'delContrat' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag 'ts[id_ts]' , cont.id_ts %>
    <%= hidden_field_tag 'ts[id_eq]' , cont.equipe_id %>
      <p>Logiciel : <%= cont.nomLogiciel %> </p>
      <p>Client :
        <% if cont.client.type=='Entreprise'  %>
          <%= cont.client.nomEntreprise %>
        <% else %>
          <%= cont.client.nomP %> <%= cont.client.prenomP %>
        <% end %>
    </p>
    <%= f.submit 'Enregistrer' %>
  <% end %>
  <% end %>
<% end %>


<%= link_to "Retour", equipe_path %>
