<%= link_to "Retour", equipe_path, class: "btn btn2 btn-dark" %>
<h1>Modifier les informations de l'équipe <%= @equipe.nomEquipe %></h1>
<%= form_with model: @equipe, local: true do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
  <%= label_tag :equipe_nomEquipe,"Nom de l'équipe" %>
  <%= f.text_field :nomEquipe, class: "form-control" %>
   </div>
  <%= f.submit 'Enregistrer' %>
<% end %>

<h2>Chef d'équipe</h2>
<% if @chef.nil? %>
  <% if @chefsDispo.empty? %>
    <p>Aucun employé disponible</p>

    <% else %>
      <p>Désigner le chef d'équipe</p>
      <%= form_with model: @equipe, local: true, url: 'addChef' do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
        <select id=chef name=equipe[employe_id] class=form-control>
          <% @chefsDispo.each do |s| %>
            <option value="<%= s.id %>"><%=s.nome.capitalize %> <%= s.prenome.capitalize %></options>
          <% end %>
        </select>
        </div>
        <%= f.submit 'Ajouter' %>
      <% end %>
    <% end %>
<% else %>

  #Si on veut désigner un nv chef d'équipe
  <h4>Chef d'équipe : <%= @chef.nome %> <%= @chef.prenome %></h4>
  <% if @employesDispo.empty? %>
    <p>Aucun employé de disponible pour remplacer le chef d'équipe</p>
  <% else %>
    Nouveau chef d'équipe :
    <%= form_with model: @equipe, local: true, url: 'addChef' do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
      <select id=chef name=equipe[employe_id] class=form-control>
        <% @employesDispo.each do |s| %>
          <option value="<%= s.id %>"><%=s.nome %> <%= s.prenome %></options>
        <% end %>
      </select>
      </div>
      <%= f.submit 'Ajouter' %>
    <% end %>
  <% end %>
<% end %>


<h2>Ajouter un employé à l'équipe</h2>
<% if @employesDispo.empty? %>
  <p>Aucun employé de disponible.</p>
<% else %>
  <% @employesDispo.each do |emp| %>
    <%= form_with model: @equipe, local: true, url: 'addEmploye' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.hidden_field(:emp_id, :value => emp.id) %>
        <p><%= emp.nome.capitalize %> <%= emp.prenome.capitalize %></p>
      <%= f.submit 'Ajouter' %>
    <% end %>
  <% end %>
<% end %>



<h2>Supprimer un employé de l'équipe</h2>
<% if @employesEquipe.empty? %>
  <p>L'équipe est vide</p>
<% else %>
  <% @employesEquipe.each do |emp| %>
  <%= form_with model: @equipe, local: true, url: 'delEmploye' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.hidden_field(:emp_id, :value => emp.id) %>
      <p><%= emp.nome.capitalize %> <%= emp.prenome.capitalize %></p>
    <%= f.submit 'Supprimer' %>
  <% end %>
  <% end %>
<% end %>

<h2>Ajouter l'équipe à un contrat</h2>
<% if @contratsDispo.empty? %>
  <p>Pas de contrat disponible.</p>
<% else %>
  <% @contratsDispo.each do |cont| %>
  <%= form_with model: cont, local: true,method: :patch, url: 'addContrat' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.hidden_field(:contrat, :value => cont.id) %>
      <p>Logiciel : <%= cont.nomLogiciel %> </p>
      <p>Client :
        <%if cont.client %>
          <% if cont.client.type=='Entreprise'  %>
            <%= cont.client.nomEntreprise %>
          <% else %>
            <%= cont.client.nomP.capitalize %> <%= cont.client.prenomP.capitalize %>
          <% end %>
        <% else %>
          Client supprimé
        <% end %>
    </p>
    <%= f.submit 'Ajouter', data: { confirm: 'Êtes-vous sûr ?' } %>
  <% end %>
  <% end %>
<% end %>

<h2>Enlever l'équipe d'un contrat</h2>
<% if @contrats.empty? %>
  <p>Pas de contrat disponible.</p>
<% else %>
  <% @contrats.each do |cont| %>
  <%= form_with model: cont, local: true, url: 'delContrat' do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag 'ts[id_ts]' , cont.id_ts %>
    <%= hidden_field_tag 'ts[id_eq]' , cont.equipe_id %>
      <p>Logiciel : <%= cont.nomLogiciel %> </p>
      <p>Client :
        <% if cont.client.type=='Entreprise'  %>
          <%= cont.client.nomEntreprise %>
        <% else %>
          <%= cont.client.nomP %> <%= cont.client.prenomP %>
        <% end %>
    </p>
    <%= f.submit 'Enregistrer', data: { confirm: 'Êtes-vous sûr ?' } %>
  <% end %>
  <% end %>
<% end %>
