<%= link_to "Retour", equipes_path, class: "btn btn2 btn-dark" %>
<h1>Informations de l'équipe <%= @equipe.nomEquipe %></h1>
  <h2>Chef d'équipe</h2>
  <% if @equipe.employe.nil? %>
  <p>Aucun chef d'équipe</p>
  <% else %>
    <%= @equipe.employe.nome %> <%= @equipe.employe.prenome %>
    <%= link_to "Informations", employe_path(@equipe.employe), class: "btn btn-info" %>
  <% end %>


<h2>Membres de l'équipes</h2>
<% if @employes.empty? %>
  <p>Aucun employé dans cette équipe</p>
<% else %>
<table>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
  </tr>
  <% @employes.each do |emp| %>
    <tr>
      <td><%= emp.nome %></td>
      <td><%= emp.prenome %></td>
      <td><%= link_to "Informations", employe_path(emp), class: "btn btn-info" %></td>
    </tr>
  <% end %>
<% end %>

<h2>Liste des contrats de l'équipe</h2>
  <% if @contratsActuels.empty? %>
    <p>Aucun contrat pour cette équipe.</p>
  <% else %>
  <table>
    <tr>
      <th>Logiciel concerné</th>
      <th>Client</th>
    </tr>
    <% @contratsActuels.each do |cont| %>
    <tr>
      <td><%=cont.nomLogiciel %></td>
      <td><% if cont.client_id %>
          <%= link_to "Détail", client_path(cont.client_id), class: "btn btn-info" %>
        <% else %>
          Client supprimé
        <% end %>
        </td>
    <% end %>
  </table>
  <% end %>

<h2>Liste des anciens contrats de l'équipe</h2>
<% if @contratsAnciens.empty? %>
  <p>Cette équipe n'a participé à aucun contrat.</p>
<% else %>
  <table>
    <tr>
      <th>Logiciel concerné</th>
      <th>Client</th>
    </tr>
    <% @contratsAnciens.each do |cont| %>
    <tr>
      <td><%= cont.nomLogiciel %></td>
        <td><% if cont.client_id %>
              <%= link_to "Détail client", client_path(cont.client_id), class: "btn btn-info" %>
            <% else %>
              Client supprimé
            <% end %>
    </td>
    </tr>
    <% end %>
  </table>
  <% end %>
  <%= link_to "Modifier les informations", edit_equipe_path, class: "btn btn-secondary" %>
