<%= link_to 'Retour', clients_path, class: "btn btn-dark" %>
<h1>Liste des particuliers</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
  </tr>

  <% @particuliers.each do |par| %>
    <tr>
      <td><%= par.nomP %></td>
      <td><%= par.prenomP %></td>
      <td><%= link_to 'Informations', client_path(par),class: "btn btn-info" %>
        <%= link_to 'Supprimer', client_path(par),
              method: :delete,
              data: { confirm: 'Êtes-vous sûr ?' },class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
