<h1>Changer les informations de <%= @employe.nomE %> <%= @employe.prenomE %></h1>

<% if @employe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@employe.errors.count, "error") %> prohibited
      this employe from being saved:
    </h2>
    <ul>
      <% @employe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @employe,local: true) do |f| %>
   <%= label_tag :employe_ageE, "Age" %>
   <%= f.text_field :ageE %>

   <%= label_tag :employe_mailE, "Adresse mail" %>
   <%= f.email_field :mailE %>

   <%= label_tag :employe_numTelE, "Numéro de téléphone" %>
   <%= f.text_field :numTelE %>

   <%= label_tag :employe_adresseE, "Adresse" %>
   <%= f.text_area :adresseE %>
   <p>Contrat</p>
   <%= label_tag :employe_dateFinE, 'Date de fin' %>
   <%= f.date_field :dateFinE %>

   <%= label_tag :employe_intituleContrat, "Intitulé" %>
   <%= f.text_field :intituleContrat %>

   <%= label_tag :employe_salaireBrut, "Salaire brut" %>
   <%= f.text_field :salaireBrut %>

   <%= f.submit %>
<% end %>
  <%= link_to "Retour", employes_path %>
