<%= link_to "Retour", type_services_path, class: "btn btn2 btn-dark" %>
<h1>Nouveau type de service</h1>

<% if @service.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@service.errors.count, "error") %> prohibited
      this service from being saved:
    </h2>
    <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :type_service, url: type_services_path, local: true do |f| %>
<div class="form-group">
   <%= label_tag :type_service_libelleType, "Nom" %>
   <%= f.text_field :libelleType, class: "form-control" %>
</div>
   <%= f.submit "Enregistrer" %>
<% end %>
