<%= link_to "Retour",client_path, class: "btn btn2 btn-dark" %>
<h1>Changer les informations de <%= @entreprise.nomEntreprise %> </h1>

<% if @entreprise.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@entreprise.errors.count, "error") %> prohibited
      this entreprise from being saved:
    </h2>
    <ul>
      <% @entreprise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @entreprise,local: true, url: client_path) do |f| %>
<div class="form-group">
<%= label_tag :entreprise_nomEntreprise, "Nom" %>
<%= f.text_field :nomEntreprise, class: "form-control" %>
</div>

<div class="form-group">
<%= label_tag :entreprise_numSiret, "Numéro Siret" %>
<%= f.text_field :numSiret, class: "form-control" %>
</div>

<div class="form-group">
<%= label_tag :entreprise_adresseC, "Adresse" %>
<%= f.text_field :adresseC, class: "form-control" %>
</div>

<div class="form-group">
<%= label_tag :entreprise_mailC, "Adresse mail" %>
<%= f.email_field :mailC, class: "form-control" %>
</div>

<div class="form-group">
<%= label_tag :entreprise_numTelC, "Numéro de téléphone" %>
<%= f.text_field :numTelC, class: "form-control" %>
</div>

<div class="form-group">
<%= label_tag :entreprise_nomReferent, "Nom référent" %>
<%= f.text_field :nomReferent, class: "form-control" %>
</div>

   <%= f.submit %>
<% end %>
