<h1>Liste des employés</h1>

<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Intitulé contrat</th>
  </tr>
</thead>
<tbody>
  <% @employes.each do |emp| %>
    <tr>
      <td><%= emp.nomE %></td>
      <td><%= emp.prenomE %></td>
      <td><%= emp.intituleContrat %></td>
      <td><%= link_to 'Informations', employe_path(emp) %></td>
      <td><%= link_to 'Supprimer', employe_path(emp),
              method: :delete,
              data: { confirm: 'Êtes-vous sûr ?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'Nouveau employé', new_employe_path %>
<%= link_to "Retour", root_path %>
