<%= link_to "Retour", accueil_path, class: "btn btn2 btn-dark" %>
<h1>Liste des employés</h1>

<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Intitulé contrat</th>
  </tr>
</thead>
<tbody>
  <% @employes.each do |emp| %>
    <tr>
      <td><%= emp.nome %></td>
      <td><%= emp.prenome %></td>
      <td><%= emp.intituleContrat %></td>
      <td><%= link_to 'Informations', employe_path(emp), class: "btn btn-info" %>
        <%= link_to 'Supprimer', employe_path(emp),
              method: :delete,
              data: { confirm: 'Êtes-vous sûr ?' }, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'Nouveau employé', new_employe_path, class: "btn btn-secondary" %>
