<%= link_to "Retour", employes_path, class: "btn btn2 btn-dark" %>
<h2>Nouvel employé</h2>

<% if @employe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@employe.errors.count, "error") %> prohibited
      this employe from being saved:
    </h2>
    <ul>
      <% @employe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :employe, url: employes_path, local: true do |f| %>
<div class="form-group">
   <%= label_tag :employe_nome, "Nom" %>
   <%= f.text_field :nome, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_prenome, "Prénom" %>
   <%= f.text_field :prenome, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_ageE, "Age" %>
   <%= f.text_field :ageE, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_email, "Adresse mail" %>
   <%= f.email_field :email, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_numTelE, "Numéro de téléphone" %>
   <%= f.text_field :numTelE, class: "form-control" %>
    </div>
<div class="form-group">
   <%= label_tag :employe_adresseE, "Adresse" %>
   <%= f.text_area :adresseE, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_nbAnneeExp, "Nombre d\'années d\'expérience" %>
   <%= f.text_field :nbAnneeExp, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_formation, "Formation" %>
   <%= f.text_field :formation, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_intituleContrat, "Intitulé contrat" %>
   <%= f.text_field :intituleContrat, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_salaireBrut, "Salaire brut" %>
   <%= f.text_field :salaireBrut, class: "form-control" %>
   </div>
<div class="form-group">
   <%= label_tag :employe_dateDebutE, "Date de début du contrat" %>
   <%= f.date_field :dateDebutE, class: "form-control" %>
   </div>

   <%= f.submit "Enregistrer" %>
<% end %>
