<header><h1><%= @employe.nome %> <%=@employe.prenome %></h1></header>
<main>
  <p>Age : <%= @employe.ageE.to_i %></p>
  <p>Adresse email : <%= @employe.mailE %></p>
  <p>Numéro de téléphone : <%= @employe.numTelE %></p>
  <p>Adresse : <%= @employe.adresseE %></p>

  <h2>Contrat</h2>
  <p>Intitulé : <%= @employe.intituleContrat %> </p>
  <p>Date de début : <%= @employe.dateDebutE.strftime("%d/%m/%Y") %></p>
  <p>Date fin :
    <% if @employe.dateFinE.nil? %>
       indéterminée
    <% else %>
      <%= @employe.dateFinE.strftime("%d/%m/%Y") %>
    <% end %>
</p>
<p>Salaire brut :
<%= @employe.salaireBrut.to_i %>
</p>
  <%= link_to "Retour", employes_path %>
  <%= link_to "Modifier les informations", edit_employe_path %>
</main>
