<% if @current_user.estAdmin == true %>
  <%= link_to "Retour", employes_path, class: "btn btn2 btn-dark" %>
<% end %>
<header><h1><%= @employe.nome.capitalize %> <%=@employe.prenome.capitalize %></h1></header>
<main>
  <p>Age : <%= @employe.ageE.to_i %></p>
  <p>Adresse email : <%= @employe.email %></p>
  <p>Numéro de téléphone : <%= @employe.numTelE %></p>
  <p>Adresse : <%= @employe.adresseE %></p>

  <h2>Contrat employé</h2>
  <p>Intitulé : <%= @employe.intituleContrat %> </p>
  <p>Date de début : <%= @employe.dateDebutE.strftime("%d/%m/%Y") %></p>
  <p>Date fin :
    <% if @employe.dateFinE.nil? %>
       indéterminée
    <% else %>
      <%= @employe.dateFinE.strftime("%d/%m/%Y") %>
    <% end %>
</p>
<p>Salaire brut :
<%= @employe.salaireBrut.to_i %> €
</p>


<% if @current_user.estAdmin %>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "Modifier les informations", edit_employe_path, class: "btn btn-secondary" %>

  <% if @contratActuel.empty? %>
    <%= link_to "Mettre l'employé sur un contrat", @employe.id.to_s+"/ajout_contrat", class: "btn btn-secondary" %>
    <%= link_to "Envoyer l'employé en mission",  @employe.id.to_s+"/ajout_mission", class: "btn btn-secondary" %>
  <% end %>
  </div>
<% end %>
  <% if !@contratActuel.empty? %>

    <h2>Contrat client actuel</h2>
    Logiciel : <%= @contratActuel[0].nomLogiciel %> du client
    <% if @contratActuel[0].type=='Entreprise' %>
      <%= @contratActuel[0].nomEntreprise %>
    <% else %>
      <%= @contratActuel[0].nomP %> <%= @contratActuel[0].prenomP %>
    <% end %>
    <% if !@mission.nil? %>
      <p>En mission à l'adresse suivante : <%= @mission.adresseM %>
    <% end %>

    <% if @current_user.estAdmin %>
      <h5>Finir la participation au contrat de cet employé</h5>
      <%= form_with(model: @participe,local: true,url: @employe.id.to_s+"/termine",method: :patch) do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <%= label_tag :participe2_dateFin,"Date de fin" %>
        <%= f.date_field :dateFin, class: "form-control" %>
      </div>
        <%= f.submit "Enregistrer" %>
      <% end %>
    <% end %>
  <% end %>

<h2>Liste des anciens contrats</h2>
<% if @contratsAnciens.empty? %>
  <% if @current_user.estAdmin == true %>
    <p>Cet employé n'a participé à aucun contrat.</p>
  <% else %>
    <p>Vous n'avez participé à aucun contrat </p>
  <% end %>
<% else %>
  <table>
    <tr>
      <th>Nom Logiciel</th>
      <th>Date de fin</th>
    </tr>
  <% @contratsAnciens.each do |cont| %>
    <tr>
      <td><%= cont.nomLogiciel %></td>
      <td><%= cont.dateFin.to_date   %></td>
      <td><%= link_to "Détail client", client_path(cont.client_id), class: "btn btn-info" %></td>
    </tr>
    <% end %>
  </table>
<% end %>
</main>
